<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<!-- 存放手写的sql -->
<mapper namespace="com.shaoxing.mapper.UserMapper">
	<select id="findUserByUserName" resultMap="RM_User">
		SELECT * FROM user WHERE user_name = #{userName};
	</select>
	<insert id="register" >
		INSERT INTO user(name,user_name,pass_word,state)VALUES(#{name},#{userName},#{md5PassWord},#{state});
	</insert>
	<select id="findpassWordByUserName" resultType="java.lang.String">
		SELECT pass_word FROM user WHERE user_name = #{userName};
	</select>
</mapper>
