<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
    <meta charset="UTF-8" />
    <title>登陆界面</title>
<script th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript">
/* $(function(){ */
	console.log(1111111)
	/* $("#register").click(function(){
		alert(0); */
		/* $.ajax({
			url:"/rest/register",
			type:"post",
			data:{
				userName = $('#userName').val(),
				name = $('#name').val(),
				passWord = $('#passWord').val(),
				passWordVerify = $('#passWordVerify').val()
			},
			success:function (data) {
				if(data.code === 10000){
					alert(1);
				}
			}
		}); */
/* 	});
}) */
</script>
</head>
<body>
        账号: <input type="text" name="userName" id="userName"/>
        昵称: <input type="text" name="name" id="name">
        密码: <input type="text" name="passWord" id="passWord"/>
        确认密码:<input type="text"name="passWordVerify" id="passWordVerify">
         <input type="submit" value="Submit" />
        注册:<input type="button" value="注册" id="register">
</body>
</html>