<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
    <meta charset="UTF-8" />
    <title>登录界面</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script type="text/javascript"  th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript">

 $(function(){ 
	 $("#login").click(function(){ 
		 $.ajax({
			url:"/loginRest",
			type:"post",
			data:{
				userName : $('#userName').val(),
				passWord : $('#passWord').val(),
			},
			success:function (data) {
				console.log(data)
				if(data.code === 10000){
					alert(data.data);
					
				}
				if(data.code === 10002){
					alert(data.msg);
				}
			},
			error:function (data){
				alert("系统异常");
			}
		}); 
 	});
}) 
</script>
</head>
<body class="container" style="width: 60%">
<br><br><br><br><br>
<form class="form-group">
	<label for="user_name">账号</label>
 	<input class="form-control" type="text" name="userName" id="userName"/>
    <label for="password">密码</label>
    <input class="form-control" type="password" name="passWord" id="passWord"/>
    <div class="checkbox">
        <label> <input type="checkbox" id="isRememberMe" name="isRememberMe">记住我 </label>
        <a th:href="@{/rest/toRegister}">还没账号？去注册</a>
    </div>
	<input type="button" value="登录" class="btn btn-success" id="login">
</form>
</body>
</html>
